services: 
  dropadox:
      image: node:22-alpine
      container_name: dropadox
      restart: always
      ports:
        - "3000:3000"
      volumes:
        - ./:/usr/src/app
      working_dir: /usr/src/app
      env_file:
        - ./.env
      #for prod build 
      #command: sh -c "npm install && npm run build && node .output/server/index.mjs"
      

      #for dev 
      #command: sh -c "npm install && npx drizzle-kit generate && npx drizzle-kit migrate && npm run dev"
      
      command: sh -c "npm install && npm run dev"
      #run 'docker compose logs -f dropadox'- 
